<a href="https://colab.research.google.com/github/maryofcarmo/AULA01/blob/main/TCC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import scipy.stats as stats

# Dados de exemplo
solar = [10, 20, 30, 40, 50]
eolica = [15, 10, 20, 25, 30]

# Calcular rho de Spearman
rho, p_value = stats.spearmanr(solar, eolica)

print(f'Rho de Spearman: {rho}')
#print(f'Valor-p: {p_valor}')

Rho de Spearman: 0.8999999999999998

In [ ]:
import scipy.stats as stats

# Dados de exemplo
solar = [10, 20, 30, 40, 50]
eolica = [15, 10, 20, 25, 30]

# Calcular tau de Kendall
tau, p_value = stats.kendalltau(solar, eolica)

print(f'Tau de Kendall: {tau}')

Tau de Kendall: 0.7999999999999999

In [46]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [47]:
import pandas as pd
import os

In [ ]:
# ESTAÇÃO AUTOMÁTICA 1

# Ler o arquivo CSV ignorando as primeiras 10 linhas
aut_df = pd.read_csv("/content/drive/MyDrive/TCC/dados_A205_M_2007-12-03_2024-06-01.csv", delimiter=';', skiprows=10)
aut_df

,Data Medicao,"NUMERO DE DIAS COM PRECIP. PLUV, MENSAL (AUT)(número)","PRECIPITACAO TOTAL, MENSAL (AUT)(mm)","PRESSAO ATMOSFERICA, MEDIA MENSAL (AUT)(mB)","TEMPERATURA MEDIA, MENSAL (AUT)(°C)","VENTO, VELOCIDADE MAXIMA MENSAL (AUT)(m/s)","VENTO, VELOCIDADE MEDIA MENSAL (AUT)(m/s)",Unnamed: 7
0,2007-12-31,9.0,NaN,"988,4","26,5","7,6",1,NaN
1,2008-01-31,20.0,"228,2","988,9","25,5","6,3",",9",NaN
2,2008-02-29,18.0,"171,6","989,9","25,8","5,4",1,NaN
3,2008-03-31,22.0,"346,8","989,7","25,3","7,1",1,NaN
4,2008-04-30,23.0,"339,8","988,9","25,9","5,4",",9",NaN
...,...,...,...,...,...,...,...,...
194,2024-02-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,2024-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,2024-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,2024-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,2024-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# ESTAÇÃO CONVENCIONAL 1

# Ler o arquivo CSV ignorando as primeiras 10 linhas
conv_df = pd.read_csv("/content/drive/MyDrive/TCC/dados_83344_M_2000-01-01_2024-06-01.csv", delimiter=';', skiprows=10)
conv_df

,Data Medicao,"DIRECAO PREDOMINANTE DO VENTO, MENSAL(° (gr))","EVAPORACAO DO PICHE, MENSAL(mm)","EVAPOTRANSPIRACAO POTENCIAL, BH MENSAL(mm)","EVAPOTRANSPIRACAO REAL, BH MENSAL(mm)","INSOLACAO TOTAL, MENSAL(h)","NEBULOSIDADE, MEDIA MENSAL(décimos)","NUMERO DE DIAS COM PRECIP. PLUV, MENSAL(número)","PRECIPITACAO TOTAL, MENSAL(mm)","PRESSAO ATMOSFERICA AO NIVEL DO MAR, MEDIA MENSAL(mB)","PRESSAO ATMOSFERICA, MEDIA MENSAL(mB)","TEMPERATURA MAXIMA MEDIA, MENSAL(°C)","TEMPERATURA MEDIA COMPENSADA, MENSAL(°C)","TEMPERATURA MINIMA MEDIA, MENSAL(°C)","UMIDADE RELATIVA DO AR, MEDIA MENSAL(%)","VENTO, VELOCIDADE MAXIMA MENSAL(m/s)","VENTO, VELOCIDADE MEDIA MENSAL(m/s)","VISIBILIDADE, MEDIA MENSAL(codigo)",Unnamed: 18
0,2000-01-31,5.0,"109,8",NaN,NaN,"215,2","6,8",15.0,215,NaN,"911,3","27,4","22,3","18,7","77,5","6,6","2,6",62,NaN
1,2000-02-29,9.0,97,NaN,NaN,"196,3","6,4",13.0,"73,2",NaN,"912,9","27,8","22,2","18,2","79,3",5,"2,4","63,4",NaN
2,2000-03-31,9.0,"85,2",NaN,NaN,"174,2","7,3",27.0,"124,8",NaN,"913,1","26,1","21,3","18,2","84,8",5,"2,3","57,7",NaN
3,2000-04-30,14.0,"78,6",NaN,NaN,"190,4",7,11.0,"21,8",NaN,"913,7","25,5","20,6","17,2","84,4","3,5","2,2","63,3",NaN
4,2000-05-31,9.0,"91,3",NaN,NaN,"191,3","6,5",10.0,"9,7",NaN,"914,8","25,1","19,7",16,"81,4","5,5","2,4","61,6",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,2024-02-29,NaN,NaN,NaN,NaN,"175,5",7,15.0,"70,5","1014,1","917,9","27,8","22,3","18,6","92,3",NaN,NaN,"96,6",NaN
290,2024-03-31,NaN,NaN,NaN,NaN,235,"5,8",9.0,"117,8","1011,2",917,"29,6","23,4",19,"92,5",NaN,NaN,"96,6",NaN
291,2024-04-30,NaN,NaN,NaN,NaN,"175,3",7,16.0,"40,2","1013,9","917,6","26,8","21,9","18,5",94,NaN,NaN,"96,5",NaN
292,2024-05-31,NaN,NaN,NaN,NaN,"208,4","4,9",12.0,29,"1016,3","919,1","26,3","20,2","15,5",92,NaN,NaN,"96,7",NaN
293,2024-06-30,NaN,NaN,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## COMEÇA AQUI
Um loop pra ler todos os arquivos da pasta de usinas convencionais

In [48]:
# Defina o diretório onde estão os arquivos CSV
diretorio = '/content/drive/MyDrive/TCC/DADOS/CONVENCIONAL'

# Obtenha a lista de todos os arquivos CSV no diretório
arquivos_csv = [f for f in os.listdir(diretorio) if f.endswith('.csv')]

arquivos_csv

['dados_82989_M_2000-01-01_2024-06-01.csv',
 'dados_82995_M_2000-01-01_2024-06-01.csv',
 'dados_82994_M_2000-01-01_2021-04-07.csv',
 'dados_82991_M_2000-01-01_2024-06-01.csv',
 'dados_82988_M_2000-01-01_2024-06-01.csv',
 'dados_82992_M_2000-01-01_2024-06-01.csv',
 'dados_82990_M_2000-01-01_2024-06-01.csv',
 'dados_82998_M_2000-01-01_2024-06-01.csv',
 'dados_82996_M_2000-01-01_2024-06-01.csv',
 'dados_83249_M_2000-01-01_2022-05-31.csv',
 'dados_83179_M_2000-01-01_2024-06-01.csv',
 'dados_83236_M_2000-01-01_2024-06-01.csv',
 'dados_83288_M_2000-01-01_2024-06-01.csv',
 'dados_83339_M_2000-01-01_2019-07-31.csv',
 'dados_83226_M_2000-01-01_2006-07-24.csv',
 'dados_83398_M_2000-01-01_2021-07-30.csv',
 'dados_83498_M_2000-01-01_2024-06-01.csv',
 'dados_83408_M_2000-01-01_2020-10-31.csv',
 'dados_83192_M_2000-01-01_2024-06-01.csv',
 'dados_83286_M_2000-01-01_2024-06-01.csv',
 'dados_83222_M_2000-01-01_2024-06-01.csv',
 'dados_83221_M_2000-01-01_2018-12-17.csv',
 'dados_83446_M_2000-01-01_2024-06-01.csv',
 'dados_83182_M_2000-01-01_2021-07-30.csv',
 'dados_83244_M_2000-01-01_2019-02-28.csv',
 'dados_83347_M_2000-01-01_2024-06-01.csv',
 'dados_83295_M_2000-01-01_2016-01-30.csv',
 'dados_83292_M_2000-01-01_2021-07-30.csv',
 'dados_83186_M_2000-01-01_2023-03-02.csv',
 'dados_83242_M_2000-01-01_2024-06-01.csv',
 'dados_83090_M_2000-01-01_2020-04-30.csv',
 'dados_83184_M_2000-01-01_2024-06-01.csv',
 'dados_83549_M_2000-01-01_2024-06-01.csv',
 'dados_82986_M_2000-01-01_2015-04-30.csv',
 'dados_82979_M_2000-01-01_2021-07-30.csv',
 'dados_83229_M_2000-01-01_2024-06-01.csv',
 'dados_83088_M_2000-01-01_2011-07-31.csv',
 'dados_83190_M_2000-01-01_2024-06-01.csv',
 'dados_83076_M_2000-01-01_2021-12-31.csv',
 'dados_83344_M_2000-01-01_2024-06-01.csv',
 'dados_82294_M_2000-01-01_2011-03-17.csv',
 'dados_82784_M_2000-01-01_2021-07-31.csv',
 'dados_82777_M_2000-01-01_2019-03-31.csv',
 'dados_82583_M_2000-01-01_2018-04-29.csv',
 'dados_82397_M_2000-01-01_2024-06-01.csv',
 'dados_82487_M_2000-01-01_2019-08-30.csv',
 'dados_82686_M_2000-01-01_2021-07-31.csv',
 'dados_82493_M_2000-01-01_2019-04-30.csv',
 'dados_82785_M_2000-01-01_2024-06-01.csv',
 'dados_82588_M_2000-01-01_2024-06-01.csv',
 'dados_82486_M_2000-01-01_2024-06-01.csv',
 'dados_82586_M_2000-01-01_2024-06-01.csv',
 'dados_82392_M_2000-01-01_2020-08-30.csv',
 'dados_82683_M_2000-01-01_2021-07-31.csv',
 'dados_82390_M_2000-01-01_2024-06-01.csv',
 'dados_82970_M_2000-01-01_2021-07-24.csv',
 'dados_82460_M_2000-01-01_2024-06-01.csv',
 'dados_82768_M_2000-01-01_2024-06-01.csv',
 'dados_82571_M_2000-01-01_2024-06-01.csv',
 'dados_82765_M_2000-01-01_2024-06-01.csv',
 'dados_82476_M_2000-01-01_2022-08-30.csv',
 'dados_82382_M_2000-01-01_2024-06-01.csv',
 'dados_82676_M_2000-01-01_2024-06-01.csv',
 'dados_82564_M_2000-01-01_2024-06-01.csv',
 'dados_82280_M_2000-01-01_2024-06-01.csv',
 'dados_82198_M_2000-01-01_2024-06-01.csv',
 'dados_82376_M_2000-01-01_2024-06-01.csv',
 'dados_82696_M_2000-01-01_2024-06-01.csv',
 'dados_82695_M_2000-01-01_2008-08-29.csv',
 'dados_82795_M_2000-01-01_2024-06-01.csv',
 'dados_82697_M_2000-01-01_2024-06-01.csv',
 'dados_82798_M_2000-01-01_2024-06-01.csv',
 'dados_82792_M_2000-01-01_2024-06-01.csv',
 'dados_82791_M_2000-01-01_2024-06-01.csv',
 'dados_82689_M_2000-01-01_2024-06-01.csv',
 'dados_82890_M_2000-01-01_2024-06-01.csv',
 'dados_82886_M_2000-01-01_2024-06-01.csv',
 'dados_82893_M_2000-01-01_2022-11-11.csv',
 'dados_82799_M_2000-01-01_2024-06-01.csv',
 'dados_82781_M_2000-01-01_2024-06-01.csv',
 'dados_82898_M_2000-01-01_2024-06-01.csv',
 'dados_82753_M_2000-01-01_2024-06-01.csv',
 'dados_82892_M_2000-01-01_2015-11-18.csv',
 'dados_82983_M_2000-01-01_2024-06-01.csv',
 'dados_82900_M_2000-01-01_2020-08-31.csv',
 'dados_82797_M_2000-01-01_2024-06-01.csv',
 'dados_82897_M_2000-01-01_2024-06-01.csv',
 'dados_82789_M_2000-01-01_2018-03-28.csv',
 'dados_82605_M_2000-01-01_2024-06-01.csv',
 'dados_82975_M_2000-01-01_2023-07-30.csv',
 'dados_82474_M_2000-01-01_2015-02-26.csv',
 'dados_82976_M_2000-01-01_2021-07-31.csv',
 'dados_82298_M_2000-01-01_2018-11-19.csv',
 'dados_82678_M_2000-01-01_2024-06-01.csv',
 'dados_82296_M_2000-01-01_2024-06-01.csv',
 'dados_82684_M_2000-01-01_2015-02-24.csv',
 'dados_82287_M_2000-01-01_2018-09-30.csv',
 'dados_82882_M_2000-01-01_2024-06-01.csv',
 'dados_82780_M_2000-01-01_2022-10-03.csv',
 'dados_82480_M_2000-01-01_2021-07-31.csv',
 'dados_82879_M_2000-01-01_2024-06-01.csv',
 'dados_82578_M_2000-01-01_2024-06-01.csv',
 'dados_82870_M_2000-01-01_2018-06-30.csv',
 'dados_82590_M_2000-01-01_2024-06-01.csv',
 'dados_82596_M_2000-01-01_2024-06-01.csv',
 'dados_82693_M_2000-01-01_2021-07-31.csv',
 'dados_82691_M_2000-01-01_2018-05-31.csv',
 'dados_82597_M_2000-01-01_2024-06-01.csv',
 'dados_82594_M_2000-01-01_2018-07-31.csv',
 'dados_82591_M_2000-01-01_2008-10-01.csv',
 'dados_82598_M_2000-01-01_2024-06-01.csv',
 'dados_82698_M_2000-01-01_2024-06-01.csv',
 'dados_82690_M_2000-01-01_2024-06-01.csv',
 'dados_83096_M_2000-01-01_2020-12-31.csv',
 'dados_83195_M_2000-01-01_2024-06-01.csv',
 'dados_83097_M_2000-01-01_2024-06-01.csv']

In [49]:
# dicionário para armazenar os DataFrames
dataframes = {}

In [50]:
# Loop para ler cada arquivo CSV e armazenar no dicionário
for arquivo in arquivos_csv:

    caminho_completo = os.path.join(diretorio, arquivo)

    #obtem o nome do arquivo sem a sua extensão e coloca na variável 'nome_df'
    nome_df = os.path.splitext(arquivo)[0]

    #lê o dataframe pelo caminho do arquivo, delimitado por ponto e vírgula e exclui da leitura as 10 primeiras linhas do arquivo
    # lê o dataframe e joga na variável 'dataframes[nome_df]'
    dataframes[nome_df] = pd.read_csv(caminho_completo, delimiter=';', skiprows=10)

In [51]:
# Verifique o conteúdo de um dos DataFrames para garantir que funcionou
# O DATAFRAME escolhido para verificar tem o nome de 'dados_82976_M_2000-01-01_2021-07-31'

print(dataframes['dados_82976_M_2000-01-01_2021-07-31'].head)

<bound method NDFrame.head of             Data Medicao DIRECAO PREDOMINANTE DO VENTO, MENSAL(° (gr))  \
2000-01-31           9.0                                          78,3
2000-02-29           5.0                                          91,8
2000-03-31           5.0                                            71
2000-04-30           9.0                                          73,5
2000-05-31           9.0                                          94,7
...                  ...                                           ...
2021-03-31           9.0                                         146,3
2021-04-30           9.0                                         185,1
2021-05-31           9.0                                         285,1
2021-06-30           9.0                                           NaN
2021-07-31           NaN                                           NaN

           EVAPORACAO DO PICHE, MENSAL(mm)  \
2000-01-31                             NaN
2000-02-29                             NaN
2000-03-31                             NaN
2000-04-30                             NaN
2000-05-31                             NaN
...                                    ...
2021-03-31                             NaN
2021-04-30                             NaN
2021-05-31                             NaN
2021-06-30                             NaN
2021-07-31                             NaN

           EVAPOTRANSPIRACAO POTENCIAL, BH MENSAL(mm)  \
2000-01-31                                        NaN
2000-02-29                                        NaN
2000-03-31                                        NaN
2000-04-30                                        NaN
2000-05-31                                        NaN
...                                               ...
2021-03-31                                        NaN
2021-04-30                                        NaN
2021-05-31                                        NaN
2021-06-30                                        NaN
2021-07-31                                        NaN

           EVAPOTRANSPIRACAO REAL, BH MENSAL(mm) INSOLACAO TOTAL, MENSAL(h)  \
2000-01-31                                 191,5                        7,1
2000-02-29                                 202,6                        6,5
2000-03-31                                 216,9                          6
2000-04-30                                 196,6                        6,8
2000-05-31                                 276,3                        4,3
...                                          ...                        ...
2021-03-31                                   NaN                        7,2
2021-04-30                                   184                        6,6
2021-05-31                                 237,3                          5
2021-06-30                                   NaN                        4,5
2021-07-31                                   NaN                        NaN

            NEBULOSIDADE, MEDIA MENSAL(décimos)  \
2000-01-31                                 10.0
2000-02-29                                 16.0
2000-03-31                                 12.0
2000-04-30                                 15.0
2000-05-31                                  2.0
...                                         ...
2021-03-31                                  6.0
2021-04-30                                  2.0
2021-05-31                                  NaN
2021-06-30                                  1.0
2021-07-31                                  NaN

           NUMERO DE DIAS COM PRECIP. PLUV, MENSAL(número)  \
2000-01-31                                            95,8
2000-02-29                                            91,4
2000-03-31                                            39,9
2000-04-30                                           133,5
2000-05-31                                            21,6
...                                                    ...
2021-03-31                                            56,8
2021-04-30                                              21
2021-05-31                                               0
2021-06-30                                             1,2
2021-07-31                                             NaN

           PRECIPITACAO TOTAL, MENSAL(mm)  \
2000-01-31                          951,4
2000-02-29                          952,5
2000-03-31                          951,2
2000-04-30                          952,2
2000-05-31                          953,4
...                                   ...
2021-03-31                          953,8
2021-04-30                          954,3
2021-05-31                          955,6
2021-06-30                            956
2021-07-31                          957,2

           PRESSAO ATMOSFERICA, MEDIA MENSAL(mB)  \
2000-01-31                                  29,3
2000-02-29                                  29,7
2000-03-31                                  30,4
2000-04-30                                  29,4
2000-05-31                                  30,6
...                                          ...
2021-03-31                                  30,3
2021-04-30                                  31,8
2021-05-31                                  33,3
2021-06-30                                   NaN
2021-07-31                                   NaN

           TEMPERATURA MAXIMA MEDIA, MENSAL(°C)  \
2000-01-31                                 23,9
2000-02-29                                 24,1
2000-03-31                                 24,1
2000-04-30                                 23,8
2000-05-31                                 23,7
...                                         ...
2021-03-31                                  NaN
2021-04-30                                  NaN
2021-05-31                                  NaN
2021-06-30                                  NaN
2021-07-31                                  NaN

           TEMPERATURA MEDIA COMPENSADA, MENSAL(°C)  \
2000-01-31                                     20,5
2000-02-29                                     20,4
2000-03-31                                     19,8
2000-04-30                                     19,8
2000-05-31                                     18,2
...                                             ...
2021-03-31                                     15,5
2021-04-30                                     15,1
2021-05-31                                     13,1
2021-06-30                                     12,3
2021-07-31                                      NaN

           TEMPERATURA MINIMA MEDIA, MENSAL(°C)  \
2000-01-31                                   77
2000-02-29                                 73,9
2000-03-31                                 72,6
2000-04-30                                 76,4
2000-05-31                                 67,5
...                                         ...
2021-03-31                                  NaN
2021-04-30                                  NaN
2021-05-31                                  NaN
2021-06-30                                  NaN
2021-07-31                                  NaN

           UMIDADE RELATIVA DO AR, MEDIA MENSAL(%)  \
2000-01-31                                       5
2000-02-29                                     6,6
2000-03-31                                       6
2000-04-30                                       5
2000-05-31                                     3,6
...                                            ...
2021-03-31                                      ,5
2021-04-30                                      ,5
2021-05-31                                      ,5
2021-06-30                                      ,5
2021-07-31                                      ,5

           VENTO, VELOCIDADE MAXIMA MENSAL(m/s)  \
2000-01-31                                  1,7
2000-02-29                                  1,8
2000-03-31                                    2
2000-04-30                                  1,8
2000-05-31                                  1,9
...                                         ...
2021-03-31                                   ,5
2021-04-30                                   ,5
2021-05-31                                   ,5
2021-06-30                                   ,5
2021-07-31                                  NaN

           VENTO, VELOCIDADE MEDIA MENSAL(m/s)  \
2000-01-31                                36,1
2000-02-29                                37,4
2000-03-31                                36,7
2000-04-30                                37,1
2000-05-31                                36,7
...                                        ...
2021-03-31                                  70
2021-04-30                                  70
2021-05-31                                  70
2021-06-30                                  98
2021-07-31                                 NaN

            VISIBILIDADE, MEDIA MENSAL(codigo)  Unnamed: 17
2000-01-31                                 NaN          NaN
2000-02-29                                 NaN          NaN
2000-03-31                                 NaN          NaN
2000-04-30                                 NaN          NaN
2000-05-31                                 NaN          NaN
...                                        ...          ...
2021-03-31                                 NaN          NaN
2021-04-30                                 NaN          NaN
2021-05-31                                 NaN          NaN
2021-06-30                                 NaN          NaN
2021-07-31                                 NaN          NaN

[259 rows x 18 columns]>

## Função para transformar uma coluna em série temporal

primeiro converte de 'object' para 'float' cada coluna necessária para a construção das séries

In [55]:
colunas_para_converter = ['PRECIPITACAO TOTAL, MENSAL(mm)', 'INSOLACAO TOTAL, MENSAL(h)', 'VENTO, VELOCIDADE MEDIA MENSAL(m/s)']

# Loop para manipular cada DataFrame no dicionário
for nome_df, df in dataframes.items():
    # Convertendo as colunas especificadas para float
    for coluna in colunas_para_converter:
        # Garantir que a coluna seja string antes de substituir
        df[coluna] = df[coluna].astype(str).str.replace(',', '.')
        try:
            df[coluna] = df[coluna].astype(float)
        except ValueError as e:
            print(f"Erro ao converter a coluna {coluna} do DataFrame {nome_df}: {e}")

In [42]:
def transformar_em_serie_temporal(df , coluna_data, colunas_valores):
    # Converter a coluna de datas para o tipo datetime
    df[coluna_data] = pd.to_datetime(df[coluna_data])
    # Definir a coluna de datas como índice
    df.set_index(coluna_data, inplace=True)
    # Selecionar apenas as colunas de valores desejadas
    series_temporal = df[colunas_valores]
    return series_temporal

In [43]:
# Nome da coluna de datas
coluna_data = 'Data Medicao'

# Nomes das colunas que você deseja transformar em séries temporais
colunas_valores = ['PRECIPITACAO TOTAL, MENSAL(mm)', 'INSOLACAO TOTAL, MENSAL(h)', 'VENTO, VELOCIDADE MEDIA MENSAL(m/s)']

# Dicionário para armazenar as séries temporais resultantes
series_temporais = {}

In [44]:
colunas_para_converter = ['RECIPITACAO TOTAL, MENSAL(mm)', 'INSOLACAO TOTAL, MENSAL(h)', 'VENTO, VELOCIDADE MEDIA MENSAL(m/s)']

# Loop para iterar sobre cada DataFrame no dicionário
for nome_df, df in dataframes.items():
    # Transformar as colunas desejadas em séries temporais, aqui usa-se a função criada para transformação do df em série temporal
    serie_temp = transformar_em_serie_temporal(df, coluna_data, colunas_valores)
    # Armazenar a série temporal resultante no dicionário
    series_temporais[nome_df] = serie_temp

    for coluna in colunas_para_converter:
        df[coluna] = df[coluna].astype(float)

In [45]:
# Exemplo de como acessar uma das séries temporais resultantes
print(series_temporais['dados_82976_M_2000-01-01_2021-07-31'].head())

                              PRECIPITACAO TOTAL, MENSAL(mm)  \
Data Medicao
1970-01-01 00:00:00.000000009                          951,4
1970-01-01 00:00:00.000000005                          952,5
1970-01-01 00:00:00.000000005                          951,2
1970-01-01 00:00:00.000000009                          952,2
1970-01-01 00:00:00.000000009                          953,4

                              INSOLACAO TOTAL, MENSAL(h)  \
Data Medicao
1970-01-01 00:00:00.000000009                        7,1
1970-01-01 00:00:00.000000005                        6,5
1970-01-01 00:00:00.000000005                          6
1970-01-01 00:00:00.000000009                        6,8
1970-01-01 00:00:00.000000009                        4,3

                              VENTO, VELOCIDADE MEDIA MENSAL(m/s)
Data Medicao
1970-01-01 00:00:00.000000009                                36,1
1970-01-01 00:00:00.000000005                                37,4
1970-01-01 00:00:00.000000005                                36,7
1970-01-01 00:00:00.000000009                                37,1
1970-01-01 00:00:00.000000009                                36,7

# Verificando se um DataFrame específico no dicionário de séries temporais é uma série temporal

In [ ]:
# pegando um unico dataframe no dicionário de séries temporais e verificando se realmente é uma série
df = series_temporais['dados_82976_M_2000-01-01_2021-07-31']

# Verificando se o DataFrame é uma série temporal
is_time_series = isinstance(df.index, pd.DatetimeIndex)

print(f"O DataFrame é uma série temporal: {is_time_series}")

# Verificação adicional do tipo de dados do índice
print(f"Tipo de dados do índice: {df.index.dtype}")

O DataFrame é uma série temporal: True
Tipo de dados do índice: datetime64[ns]

# Verificações para Confirmar que o DataFrame Contém Séries Temporais

In [ ]:
df = series_temporais['dados_82976_M_2000-01-01_2021-07-31']

# Verificando se o DataFrame possui um índice do tipo DatetimeIndex
is_time_series_index = isinstance(df.index, pd.DatetimeIndex)

# Verificando se todas as colunas contêm dados numéricos
are_columns_numeric = df.apply(lambda s: pd.api.types.is_numeric_dtype(s))

# Verificação adicional da consistência do índice de datas
is_index_monotonic = df.index.is_monotonic_increasing

print(f"O DataFrame tem um índice DatetimeIndex: {is_time_series_index}")
print(f"Todas as colunas contêm dados numéricos: {are_columns_numeric.all()}")
print(f"O índice de datas é monotônico e crescente: {is_index_monotonic}")

if is_time_series_index and are_columns_numeric.all() and is_index_monotonic:
    print("O DataFrame contém várias colunas de séries temporais.")
else:
    print("O DataFrame não parece conter várias colunas de séries temporais.")

O DataFrame tem um índice DatetimeIndex: True
Todas as colunas contêm dados numéricos: False
O índice de datas é monotônico e crescente: False
O DataFrame não parece conter várias colunas de séries temporais.

# Correlação de Person

In [ ]:
import numpy as np
from scipy.stats import pearsonr

# Dados de exemplo
solar = [10, 20, 30, 40, 50]
eolica = [15, 10, 20, 25, 30]

# Calcular o coeficiente de correlação de Pearson
correlacao, p_valor = pearsonr(solar, eolica)

print(f'Coeficiente de Correlação de Pearson: {correlacao}')
#print(f'Valor-p: {p_valor}')

#correlação positiva

Coeficiente de Correlação de Pearson: 0.9

In [ ]:
df = series_temporais['dados_82976_M_2000-01-01_2021-07-31']
df


# Calculando a correlação entre duas colunas
#correlacao = df['serie1'].corr(df['serie2'])

#print(f"Coeficiente de correlação de Pearson: {correlacao}")

,"PRECIPITACAO TOTAL, MENSAL(mm)","INSOLACAO TOTAL, MENSAL(h)","VENTO, VELOCIDADE MEDIA MENSAL(m/s)"
Data Medicao,,,
1970-01-01 00:00:00.000000009,"951,4","7,1","36,1"
1970-01-01 00:00:00.000000005,"952,5","6,5","37,4"
1970-01-01 00:00:00.000000005,"951,2",6,"36,7"
1970-01-01 00:00:00.000000009,"952,2","6,8","37,1"
1970-01-01 00:00:00.000000009,"953,4","4,3","36,7"
...,...,...,...
1970-01-01 00:00:00.000000009,"953,8","7,2",70
1970-01-01 00:00:00.000000009,"954,3","6,6",70
1970-01-01 00:00:00.000000009,"955,6",5,70
1970-01-01 00:00:00.000000009,956,"4,5",98
NaT,"957,2",NaN,NaN